networks:
  homebudget-net:
  caddy:
    name: caddy
    external: true

volumes:
  otus-pgdata:

services:

  postgres:
    container_name: postgres_HomeBudget
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - otus-pgdata:/var/lib/postgresql/data
      - ./init-databases.sql:/docker-entrypoint-initdb.d/init-databases.sql
    ports:
      - "${POSTGRES_PORT}:5432"  # Доступ из хоста
    networks:
      - homebudget-net

  authservice:
    container_name: authservice_HomeBudget
    build:
      context: ./AuthService
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env.logging
    environment:
      DOTNET_ENVIRONMENT: ${DOTNET_ENVIRONMENT}
      ASPNETCORE_URLS: http://+:5000
      ConnectionStrings__postgreSQL: "Host=postgres;Port=5432;Database=${AUTH_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}"
      Jwt__Secret: ${JWT__SECRET}
      Jwt__Issuer: ${JWT__ISSUER}
      Jwt__Audience: ${JWT__AUDIENCE}
      Jwt__LifetimeMinutes: ${JWT__LIFETIMEMINUTES}
    networks:
      - homebudget-net
      - caddy
    depends_on:
      - postgres
    labels:
      - "caddy=auth.homeb.nohat.ru"
      - "caddy.reverse_proxy={{upstreams 5000}}"
      - "caddy.encode=zstd gzip"

  directories:
    container_name: directories_HomeBudget
    build:
      context: ./Directories
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env.logging
    environment:
      DOTNET_ENVIRONMENT: ${DOTNET_ENVIRONMENT}
      ASPNETCORE_URLS: http://+:5000
      ConnectionStrings__postgreSQL: "Host=postgres;Port=5432;Database=${DIR_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}"
      Jwt__Secret: ${JWT__SECRET}
      Jwt__Issuer: ${JWT__ISSUER}
      Jwt__Audience: ${JWT__AUDIENCE}
      Jwt__LifetimeMinutes: ${JWT__LIFETIMEMINUTES}
    networks:
      - homebudget-net
      - caddy
    depends_on:
      - postgres
    labels:
      - "caddy=dir.homeb.nohat.ru"
      - "caddy.reverse_proxy={{upstreams 5000}}"
      - "caddy.encode=zstd gzip"

  healthcheck:
    container_name: healthcheck_HomeBudget
    build:
      context: ./HealthCheck
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env.logging
      - .env.healthcheck
    environment:
      DOTNET_ENVIRONMENT: ${DOTNET_ENVIRONMENT}
      ASPNETCORE_URLS: http://+:5000
    networks:
      - homebudget-net
      - caddy
    labels:
      - "caddy=health.homeb.nohat.ru"
      - "caddy.reverse_proxy={{upstreams 5000}}"
      - "caddy.encode=zstd gzip"

  accountmanagement:
    container_name: accountmanagement_HomeBudget
    build:
      context: ./AccountManagement
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env.logging
    environment:
      DOTNET_ENVIRONMENT: ${DOTNET_ENVIRONMENT}
      ASPNETCORE_URLS: http://+:5000
      ConnectionStrings__postgreSQL: "Host=postgres;Port=5432;Database=${ACCOUNT_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}"
      Jwt__Secret: ${JWT__SECRET}
      Jwt__Issuer: ${JWT__ISSUER}
      Jwt__Audience: ${JWT__AUDIENCE}
      Jwt__LifetimeMinutes: ${JWT__LIFETIMEMINUTES}
      ExternalServicesURLs__ExchangeRatesApi: ${EXTERNALSERVICESURLS__EXCHANGERATESAPI}
      ExternalServicesURLs__DirrectoriesServices: ${EXTERNALSERVICESURLS__DIRRECTORIESSERVICES}
    networks:
      - homebudget-net
      - caddy
    depends_on:
      - postgres
    labels:
      - "caddy=account.homeb.nohat.ru"
      - "caddy.reverse_proxy={{upstreams 5000}}"
      - "caddy.encode=zstd gzip"

  frontend:
    container_name: frontend_HomeBudget
    build:
      context: ./Frontend
      dockerfile: ./Dockerfile
      args:
        - VUE_APP_AUTH_URL=${VUE_APP_AUTH_URL}
        - VUE_APP_DIC_URL=${VUE_APP_DIC_URL}
        - VUE_APP_ACC_URL=${VUE_APP_ACC_URL}
    restart: always
    networks:
      - homebudget-net
      - caddy
    labels:
      - "caddy=ui.homeb.nohat.ru"
      - "caddy.reverse_proxy={{upstreams 80}}"
      - "caddy.encode=zstd gzip"
